#divPai {
  height: 0px;
  width: 322px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  text-align: left;
  font-size: 22px; 
}

#textoTarefa{
  color: rgb(9, 20, 20);
}
  
.container-sm2{
  background-color: rgb(88, 181, 209);
  height: 500px;
  text-align: center;
  color: white;
}

.barraTop{  
  height: 21px;
}

#barraP1{
  height: 21px;
  border-right: 2.5px solid rgb(36, 0, 240);
  width: 50%;
  text-align: center;
  color: rgb(33, 83, 83);
  position: static;
}

#barraP2{
  margin-top: -22px;
  margin-left: 50%;
  width: 50%;
  height: 21px;
  text-align: center;
}

#botaoEnviar{
  width: 322px;
  background-color: rgba(36, 0, 240);
  font-size: 17px;
  width: 334px;
  color: white;
}

#btn_Excluir{
  position: absolute;
  margin-top: 5px;
  margin-right: 29px;
  margin-left: -69px;
  width: 68px;
  height: 22px;
  font-size: 12px;
  background-color: rgba(34, 36, 36, 0.74);
  color: rgb(255, 255, 255);
}

#btn_Excluir2{
  position: absolute;
  padding-top: -15px;
  margin-top: -47px;
  margin-left: -69px;
  width: 68px;
  height: 22px;
  font-size: 12px;
  background-color: rgba(34, 36, 36, 0.74);
  color: rgb(255, 255, 255);
}

#divText{
  height: 185px;
  width: 50%; 
  background-color: rgb(255, 255, 255);
  margin-top: -600px;
  position: absolute;
  font-size: 20px;
  color: rgb(33, 83, 83);
  text-align: center;
}

#divText2{
  margin-top: -600px;
  height: 185px;
  width: 50%; 
  background-color: rgb(255, 255, 255);
  margin-left: 50%;
  position: absolute;
  font-size: 20px;
  color: rgb(33, 83, 83);
  text-align: center;
}

#li1{
  padding-top: 0px;
}

#li2{
  text-align: left;
  padding-top: 0px;
}

footer {
  margin-top: 28.9%;
  height: 90px;
  background-color: rgba(1, 20, 19, 0.425);
  text-align: center;
}